$메인칼라: #ff0000;

.red {
  color: $메인칼라;
}
.my-alert {
  background: #eeeeee;
  padding: 15px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.my-alert2 {
  @extend .my-alert;
  background: rgb(250, 250, 210);
}

.my-alert p {
  margin-bottom: 0;
}

// div.container h4 {
//   color: blue;
// }

// div.container p {
//   color: green;
// }

// div.container {
//   h4 {
//     color: blue;
//   }
// }
